/* Adapted from: https://ar.al/2021/08/24/implementing-dark-mode-in-a-handful-of-lines-of-css-with-css-filters/ */

/* prefer dark */
@media (prefers-color-scheme: dark) {
  /* Invert all elements on the html while attempting to not alter the hue substantially. */
  html {
    filter: invert(100%) hue-rotate(180deg);

    /* Some pages do not have a background color set at all. */
    background-color: #eee;

    transition: filter 0.2s ease-in-out, background-color 0.2s ease-in-out;
  }

  /* Do not invert media (revert the invert). */
  img,
  video {
    filter: invert(100%) hue-rotate(180deg);
  }

  /* Re-enable code block backgrounds. */
  pre {
    filter: invert(7%);
  }

  /* Improve contrast on list item markers. */
  li::marker {
    color: #666;
  }
}
